@model Core.Entities.Service

<div class="page-wrapper dark-layout">
	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(~/images/background/page-title.jpg);">
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title">Service Details</h1>
				<ul class="page-breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="/Service">Services</a></li>
					<li>Brand & Design Services</li>
				</ul>
			</div>
		</div>
	</section>
	<!--Start Services Details-->
	<section class="services-details">
		<div class="container pb-100">
			<div class="row">
				<!--Start Services Details Sidebar-->
				<div class="col-xl-4 col-lg-4">
					<div class="service-sidebar">

						<div class="sidebar__single sidebar__category">
							<h3 class="sidebar__title">Categories Services</h3>
							<ul class="sidebar__category-list list-unstyled">
								<li><a href="page-service-details.html">Business<span class="icon-right-arrow"></span></a> </li>
								<li class="active"><a href="page-service-details.html">Brand & Design Services<span class="icon-right-arrow"></span></a></li>
								<li><a href="page-service-details.html">Digital Marketing Services<span class="icon-right-arrow"></span></a> </li>
								<li><a href="page-service-details.html">Development Services<span class="icon-right-arrow"></span></a> </li>
								<li><a href="page-service-details.html">Production Services<span class="icon-right-arrow"></span></a> </li>
								<li><a href="page-service-details.html">Content Services<span class="icon-right-arrow"></span></a> </li>
								<li><a href="page-service-details.html">Translation Services<span class="icon-right-arrow"></span></a> </li>
							</ul>
						</div>

						<!--Start Services Details Sidebar Single-->
						<div class="sidebar-widget service-sidebar-single">

							<div class="service-details-help">
								<div class="help-icon">
									<span class=" lnr-icon-phone-handset"></span>
								</div>
								<div class="help-shape-1"></div>
								<div class="help-shape-2"></div>
								<h2 class="help-title">Contact with <br> us for any <br> advice</h2>
							</div>
						</div>
						<!--End Services Details Sidebar-->
					</div>
				</div>

				<!--Start Services Details Content-->
				<div class="col-xl-8 col-lg-8">
					<div class="services-details__content">
						<img src="~/images/resource/ServiceDetail1.png" alt="" />
						<h3 class="mt-4">Brand & Design Services</h3>
						<ul>
							<li style="list-style: inside;">Branding & Identity Design</li>
							<li style="list-style: inside;">Rebranding & Identity Design</li>
							<li style="list-style: inside;">Stationery Design & Production</li>
							<li style="list-style: inside;">Product & Packaging Design</li>
							<li style="list-style: inside;">Advertising Design</li>
							<li style="list-style: inside;">Publication Design</li>
							<li style="list-style: inside;">Characters & Mascots Design</li>
						</ul>
						<br>

						<p>We enable you to define your corporate identity by designing or developing your brand from stunning logos and warranties to core values and everything in between, investing in building a brand is how you prepare to connect with your target audience, we also cover a full range of branding services for business and projects of all sizes. Our dedicated team provides you with plans, guidelines, and research that are in line with the market and fit the core of your brand that your concept needs to communicate with. We also show you and your team how to maintain your brand design as it is an important part of all areas of your business.</p>
						<br>

					</div>
				</div>
				<!--End Services Details Content-->
			</div>
		</div>
	</section>
	<!--End Services Details-->
</div>