@model Core.Entities.ViewModel.ViewModels


<div class="page-wrapper dark-layout">
	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(images/background/page-title.jpg);">
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title">Services</h1>
				<ul class="page-breadcrumb">
					<li><a href="/">Home</a></li>
					<li>Services</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->
	<!-- Services Section-->
	<section class="services-section">
		<div class="auto-container">
			<div class="row">
				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service-1.jpg" alt=""></figure>
						<div class="content">
							<div class="inner">
								<i class="icon flaticon-ux-design"></i>
								<h4 class="title"><a href="page-service-details.html">Website <br>development</a></h4>
								<div class="text">Lorem ipsum dolor sit amet, do consectetur adipiscing.</div>
								<a href="page-service-details.html" class="read-more"><i class="icon-arrow-down-right"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service-2.jpg" alt=""></figure>
						<div class="content">
							<div class="inner">
								<i class="icon flaticon-pen-tool"></i>
								<h4 class="title"><a href="page-service-details.html">Graphic <br>designing</a></h4>
								<div class="text">Lorem ipsum dolor sit amet, do consectetur adipiscing.</div>
								<a href="page-service-details.html" class="read-more"><i class="icon-arrow-down-right"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service-3.jpg" alt=""></figure>
						<div class="content">
							<div class="inner">
								<i class="icon flaticon-in-stock"></i>
								<h4 class="title"><a href="page-service-details.html">Mobile <br>application</a></h4>
								<div class="text">Lorem ipsum dolor sit amet, do consectetur adipiscing.</div>
								<a href="page-service-details.html" class="read-more"><i class="icon-arrow-down-right"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service-2.jpg" alt=""></figure>
						<div class="content">
							<div class="inner">
								<i class="icon flaticon-pen-tool"></i>
								<h4 class="title"><a href="page-service-details.html">Graphic <br>designing</a></h4>
								<div class="text">Lorem ipsum dolor sit amet, do consectetur adipiscing.</div>
								<a href="page-service-details.html" class="read-more"><i class="icon-arrow-down-right"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service-3.jpg" alt=""></figure>
						<div class="content">
							<div class="inner">
								<i class="icon flaticon-in-stock"></i>
								<h4 class="title"><a href="page-service-details.html">Mobile <br>application</a></h4>
								<div class="text">Lorem ipsum dolor sit amet, do consectetur adipiscing.</div>
								<a href="page-service-details.html" class="read-more"><i class="icon-arrow-down-right"></i></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1800ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service-1.jpg" alt=""></figure>
						<div class="content">
							<div class="inner">
								<i class="icon flaticon-ux-design"></i>
								<h4 class="title"><a href="page-service-details.html">Website <br>development</a></h4>
								<div class="text">Lorem ipsum dolor sit amet, do consectetur adipiscing.</div>
								<a href="page-service-details.html" class="read-more"><i class="icon-arrow-down-right"></i></a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- End Services Section-->

</div><!-- End Page Wrapper -->