<!-- Banner Section -->
<section class="banner-section">
	<div class="bg bg-pattern-1"></div>

	<div class="auto-container">
		<div class="content-box">
			<span class="sub-title wow fadeInUp" data-wow-delay="1500ms">OUR THOUGHTS <strong class="primary-color">CHANGE THE FUTURE</strong> <br>YOUR JOURNEY STARTS HERE</span>
			<h1 class="title title-anim">
				<span class="line-1">Majestic<i class="icon icon-star"></i></span>
				<span class="line-2">Agency <i class="icon icon-square"></i></span>
			</h1>

			<a href="/Aboutus" class="circle-text wow zoomIn" data-wow-delay="2000ms">
				<img src="images/resource/round-text-discover-more.png" alt="">
				<span class="icon icon-arrow-down"></span>
			</a>
		</div>
		<div class="image-box">
			<figure class="image wow fadeIn" data-wow-delay="600ms"><img src="~/images/background/BackgroundHome.png" alt=""></figure>
		</div>
	</div>

	<ul class="social-icon-one" data-wow-delay="2400ms">
		<li><a href="https://www.facebook.com/agency.majestic/?_rdc=1&_rdr">Facebook</a></li>
		<li><a href="https://www.instagram.com/agency.majestic/">Instagram</a></li>
		<li><a href="https://www.linkedin.com/company/agencymajestic/">LinkedIn</a></li>
		<li><a href="https://www.behance.net/agencymajestic/">Behance</a></li>

	</ul>
</section>
<!-- End Banner Section -->
<!-- Services Section Four-->
<section class="services-section-four">
	<div class="auto-container">
		<div class="sec-title">
			<div class="row">
				<div class="col-xl-7">
					<h1 class="letters-slide-up text-split">WHAT YOU <br>WILL GET !</h1>
				</div>
				<div class="col-xl-5">
					<span class="icon icon-arrow-down-2"></span>
					<div class="text font-size-20">MAKING YOUR <strong class="color1 font-weight-700">BUSINESS IDEAS COME TRUE</strong> </div>
				</div>
			</div>
		</div>

		<div class="outer-box">
			<div class="row">
				<!-- Service Block four -->
				<div class="service-block-four col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service4-1.jpg" alt=""></figure>
						<span class="letter">B</span>
						<div class="content">
							<span class="letter">B</span>
							<h4 class="title"><a href="#">Brand & Design <br>Services</a></h4>
							<div class="text">Your brand is the face of your business. Includes all the many elements that define your corporate identity.</div>
							<a href="#" class="read-more"><i class="icon-arrow-down"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block four -->
				<div class="service-block-four col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service4-2.jpg" alt=""></figure>
						<span class="letter">D</span>
						<div class="content">
							<span class="letter">D</span>
							<h4 class="title"><a href="#">Digital Marketing <br>Services</a></h4>
							<div class="text">Digital marketing is the future. Therefore, we are building a complete and integrated digital environment.</div>
							<a href="#" class="read-more"><i class="icon-arrow-down"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block four -->
				<div class="service-block-four col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service4-3.jpg" alt=""></figure>
						<span class="letter">Dv</span>
						<div class="content">
							<span class="letter">Dv</span>
							<h4 class="title"><a href="#">Development <br>Services</a></h4>
							<div class="text">Your website is the digital face of your brand on the Internet, and your app is your brand in the palm of the user's hand.</div>
							<a href="#" class="read-more"><i class="icon-arrow-down"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block four -->
				<div class="service-block-four col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service4-4.jpg" alt=""></figure>
						<span class="letter">P</span>
						<div class="content">
							<span class="letter">P</span>
							<h4 class="title"><a href="#">Production <br> Services</a></h4>
							<div class="text">Our philosophy in production is our common language by helping our clients achieve more success and progress.</div>
							<a href="#" class="read-more"><i class="icon-arrow-down"></i></a>
						</div>
					</div>
				</div>
				<div class="service-block-four col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service4-4.jpg" alt=""></figure>
						<span class="letter">C</span>
						<div class="content">
							<span class="letter">C</span>
							<h4 class="title"><a href="#">Content <br> Services</a></h4>
							<div class="text">We provide all sorts of content by creating bold, clear, simple and error-free writing to meet your unique needs.</div>
							<a href="#" class="read-more"><i class="icon-arrow-down"></i></a>
						</div>
					</div>
				</div>
				<div class="service-block-four col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
					<div class="inner-box">
						<figure class="image"><img src="images/resource/service4-4.jpg" alt=""></figure>
						<span class="letter">T</span>
						<div class="content">
							<span class="letter">T</span>
							<h4 class="title"><a href="#">Translation  <br> Services</a></h4>
							<div class="text">Ability to communicate with a global audience through a professional linguist.</div>
							<a href="#" class="read-more"><i class="icon-arrow-down"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Services Section-->