<!-- Contact Section Two -->
<section class="contact-section-two">
	<div class="bg bg-pattern-17"></div>
	<div class="auto-container">
		<div class="row">
			<!-- Title Column -->
			<div class="title-column col-xl-4 col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="sec-title light">
						<h2 class="words-slide-up text-split">Start <span class="color1">project</span> with us</h2>
						<p class="text">Fill out the form and we'll get back to you as soon as possible.</p>
					</div>

					<ul class="contact-info-list">
						<li>
							<i class="icon far fa-phone-volume"></i>
							<span class="title">Call anytime</span>
							<div class="text"><a href="tel:+962791894232">+962 79-189-4232</a></div>
						</li>
						<li>
							<i class="icon far fa-envelope-open-text"></i>
							<span class="title">Send email</span>
							<div class="text"><a href="mailto:info@majesticagency.net">info@majesticagency.net</a></div>
						</li>

						<li>
							<i class="icon far fa-map-location"></i>
							<span class="title">Visit Office</span>
							<div class="text">Bulding 23, King Hussein Business Park, Amman, Jordan</div>
						</li>
					</ul>
				</div>
			</div>

			<!-- Form Column -->
			<div class="form-column col-xl-8 col-lg-7 col-md-12 col-sm-12">
				<!-- Contact Form -->
				<div class="contact-form-two wow fadeInLeft">
					<!--Contact Form-->
					<form method="post" action="https://kodesolution.com/html/2023/crotive-html/get" id="contact-form">
						<div class="row">
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="full_name" placeholder="First & Last Name" required>
							</div>

							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" placeholder="Company Name" required>
							</div>

							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="Email" placeholder="Email Address" required>
							</div>
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="Phone" placeholder="Phone Number" required>
							</div>
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label class="font-size-14">How can we help you?</label>
								<input type="text" placeholder="Tell us about the project or problem you need to solve" title="Tell us about the project or problem you need to solve" required>
							</div>
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label class="font-size-14">What services do you need?</label>
								<select>
									<option>Development Services</option>
									<option>Development Services</option>
									<option>Development Services</option>
									<option>Development Services</option>
								</select>
							</div>

							<div class="form-group col-lg-3 col-md-3 col-sm-12">
								<label class="font-size-14">How did you discover us?</label>
								<select>
									<option>Development Services</option>
									<option>Development Services</option>
									<option>Development Services</option>
									<option>Development Services</option>
								</select>
							</div>
							<div class="form-group col-lg-3 col-md-3 col-sm-12">
								<label class="font-size-14">What is your timeline?</label>
								<input type="date">
							</div>
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label class="font-size-14">What is your budget?</label>
								<input type="text" placeholder="Your budget will help us decide on the right solution for your project" title="Your budget will help us decide on the right solution for your project" required>
							</div>
							<div class="form-group col-lg-12">
								<label class="font-size-14">Would you share some examples that compare to your project goals?</label>
								<div class="d-flex">
									<span class="input-group-text" id="basic-addon2">https://example.com/</span>
									<input type="text" placeholder="Enter link to websites, social media pages, videos, or other examples....." title="Enter link to websites, social media pages, videos, or other examples....." required>
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label class="font-size-14">Attachments:</label>
								<input type="file" required>
							</div>
							<div class="form-group col-lg-12">
								<button class="theme-btn" type="submit" name="submit-form"><span class="btn-title">SUBMIT</span></button>
							</div>
						</div>
					</form>
				</div>
				<!--End Contact Form -->
			</div>
		</div>
	</div>
</section>
<!-- End Contact Section  -->